html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #333;
}

h1 {
  position: absolute;
  font-size: 5vh;
  line-height: 0;
  margin: 0;
  padding: 0;
  top: 5%;
  color: white;
}

.frame {
  width: 80vw;
  height: 80vw;
  max-width: 600px;
  max-height: 600px;
  position: absolute;
  left: 0;
  top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #1B053A;
  -webkit-box-shadow: 0px 0px 10px #6A4E90;
  box-shadow: 0px 0px 10px #6A4E90;
}

.center {
  position: absolute;
  background: #0682D2;
  overflow: hidden;
  width: 50vw;
  height: 50vw;
  max-width: 375px;
  max-height: 375px;
  -webkit-clip-path: ellipse(50% 45% at 50% 50%);
  clip-path: ellipse(50% 45% at 50% 50%);
  -webkit-animation: fade 4s infinite cubic-bezier(0.4, 0, 0.49, 1);
  animation: fade 4s infinite cubic-bezier(0.4, 0, 0.49, 1);
}

.center .ground {
  position: absolute;
  top: 70%;
  width: 100%;
  height: 100%;
  background: #FFBD5D;
}

.center .side-left {
  background: #BF7100;
  position: absolute;
  left: 17%;
  top: 30%;
  width: 40%;
  height: 40%;
  -webkit-clip-path: polygon(75% 0, 0% 100%, 100% 100%);
  clip-path: polygon(75% 0, 0% 100%, 100% 100%);
  -webkit-animation: pyramid 4s infinite cubic-bezier(0.4, 0, 0.49, 1);
  animation: pyramid 4s infinite cubic-bezier(0.4, 0, 0.49, 1);
}

.center .side-right {
  background: #683E00;
  position: absolute;
  left: 46.9%;
  top: 30%;
  width: 40%;
  height: 40%;
  -webkit-clip-path: polygon(0 0, 25% 100%, 100% 100%);
  clip-path: polygon(0 0, 25% 100%, 100% 100%);
  -webkit-animation: pyramidr 4s infinite cubic-bezier(0.4, 0, 0.49, 1);
  animation: pyramidr 4s infinite cubic-bezier(0.4, 0, 0.49, 1);
}

.center .sun {
  background: #FFF6A4;
  position: absolute;
  border-radius: 50%;
  left: 42.5%;
  top: 8%;
  width: 15%;
  height: 15%;
  -webkit-transform-origin: 50% 560%;
  -ms-transform-origin: 50% 560%;
  transform-origin: 50% 560%;
  -webkit-animation: sun 4s infinite cubic-bezier(0.4, 0, 0.49, 1);
  animation: sun 4s infinite cubic-bezier(0.4, 0, 0.49, 1);
}

.center .shadow {
  background: #4D3807;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 70%;
  -webkit-clip-path: polygon(17% 0, 50% 50%, 87% 0);
  clip-path: polygon(17% 0, 50% 50%, 87% 0);
  z-index: 99;
  -webkit-animation: shadow 4s infinite linear;
  animation: shadow 4s infinite linear;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes sun {
  0% {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
  100% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
}

@keyframes sun {
  0% {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
  100% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
}

@-webkit-keyframes pyramid {
  0% {
    background: #BF7100;
  }
  100% {
    background: #683E00;
  }
}

@keyframes pyramid {
  0% {
    background: #BF7100;
  }
  100% {
    background: #683E00;
  }
}

@-webkit-keyframes pyramidr {
  0% {
    background: #683E00;
  }
  10% {
    background: #683E00;
  }
  100% {
    background: #BF7100;
  }
}

@keyframes pyramidr {
  0% {
    background: #683E00;
  }
  10% {
    background: #683E00;
  }
  100% {
    background: #BF7100;
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-clip-path: polygon(17% 0, 100% 10%, 87% 0);
    clip-path: polygon(17% 0, 100% 10%, 87% 0);
  }
  10% {
    -webkit-clip-path: polygon(17% 0, 90% 14%, 87% 0);
    clip-path: polygon(17% 0, 90% 14%, 87% 0);
  }
  20% {
    -webkit-clip-path: polygon(17% 0, 80% 16.5%, 87% 0);
    clip-path: polygon(17% 0, 80% 16.5%, 87% 0);
  }
  30% {
    -webkit-clip-path: polygon(17% 0, 70% 18%, 87% 0);
    clip-path: polygon(17% 0, 70% 18%, 87% 0);
  }
  40% {
    -webkit-clip-path: polygon(17% 0, 60% 19.5%, 87% 0);
    clip-path: polygon(17% 0, 60% 19.5%, 87% 0);
  }
  50% {
    -webkit-clip-path: polygon(17% 0, 50% 20%, 87% 0);
    clip-path: polygon(17% 0, 50% 20%, 87% 0);
  }
  60% {
    -webkit-clip-path: polygon(17% 0, 40% 19.5%, 87% 0);
    clip-path: polygon(17% 0, 40% 19.5%, 87% 0);
  }
  70% {
    -webkit-clip-path: polygon(17% 0, 30% 18%, 87% 0);
    clip-path: polygon(17% 0, 30% 18%, 87% 0);
  }
  80% {
    -webkit-clip-path: polygon(17% 0, 20% 16, 5%, 87% 0);
    clip-path: polygon(17% 0, 20% 16, 5%, 87% 0);
  }
  90% {
    -webkit-clip-path: polygon(17% 0, 10% 14%, 87% 0);
    clip-path: polygon(17% 0, 10% 14%, 87% 0);
  }
  100% {
    -webkit-clip-path: polygon(17% 0, 0% 10%, 87% 0);
    clip-path: polygon(17% 0, 0% 10%, 87% 0);
  }
}

@keyframes shadow {
  0% {
    -webkit-clip-path: polygon(17% 0, 100% 10%, 87% 0);
    clip-path: polygon(17% 0, 100% 10%, 87% 0);
  }
  10% {
    -webkit-clip-path: polygon(17% 0, 90% 14%, 87% 0);
    clip-path: polygon(17% 0, 90% 14%, 87% 0);
  }
  20% {
    -webkit-clip-path: polygon(17% 0, 80% 16.5%, 87% 0);
    clip-path: polygon(17% 0, 80% 16.5%, 87% 0);
  }
  30% {
    -webkit-clip-path: polygon(17% 0, 70% 18%, 87% 0);
    clip-path: polygon(17% 0, 70% 18%, 87% 0);
  }
  40% {
    -webkit-clip-path: polygon(17% 0, 60% 19.5%, 87% 0);
    clip-path: polygon(17% 0, 60% 19.5%, 87% 0);
  }
  50% {
    -webkit-clip-path: polygon(17% 0, 50% 20%, 87% 0);
    clip-path: polygon(17% 0, 50% 20%, 87% 0);
  }
  60% {
    -webkit-clip-path: polygon(17% 0, 40% 19.5%, 87% 0);
    clip-path: polygon(17% 0, 40% 19.5%, 87% 0);
  }
  70% {
    -webkit-clip-path: polygon(17% 0, 30% 18%, 87% 0);
    clip-path: polygon(17% 0, 30% 18%, 87% 0);
  }
  80% {
    -webkit-clip-path: polygon(17% 0, 20% 16, 5%, 87% 0);
    clip-path: polygon(17% 0, 20% 16, 5%, 87% 0);
  }
  90% {
    -webkit-clip-path: polygon(17% 0, 10% 14%, 87% 0);
    clip-path: polygon(17% 0, 10% 14%, 87% 0);
  }
  100% {
    -webkit-clip-path: polygon(17% 0, 0% 10%, 87% 0);
    clip-path: polygon(17% 0, 0% 10%, 87% 0);
  }
}
