html, body {
  margin: 0;
  padding: 0;
}

.frame {
  position: absolute;
  left: 30vw;
  top: 5vh;
  width: 40vw;
  height: 40vw;
  background: #2D4471;
}

.dot-0 {
  position: absolute;
  z-index: 4;
  top: 15vw;
  left: 15vw;
  width: 10vw;
  height: 10vw;
  background: #daeacc;
  border-radius: 50%;
  animation-fill-mode: both;
  animation: jump0 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-1 {
  position: absolute;
  z-index: 3;
  top: 12.5vw;
  left: 12.5vw;
  width: 15vw;
  height: 15vw;
  background: #c0dba8;
  border-radius: 50%;
  animation-fill-mode: both;
  animation: jump1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-2 {
  position: absolute;
  z-index: 2;
  top: 10vw;
  left: 10vw;
  width: 20vw;
  height: 20vw;
  background: #a6cd83;
  border-radius: 50%;
  animation-fill-mode: both;
  animation: jump2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-3 {
  position: absolute;
  z-index: 1;
  top: 7.5vw;
  left: 7.5vw;
  width: 25vw;
  height: 25vw;
  background: #8CBE5F;
  border-radius: 50%;
  animation-fill-mode: both;
  animation: jump3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

@keyframes jump0 {
  0%, 80% {
    transform: scale(0);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  }
}
@keyframes jump1 {
  0%, 60% {
    transform: scale(0);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  }
}
@keyframes jump2 {
  0%, 40% {
    transform: scale(0);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  }
}
@keyframes jump3 {
  0%, 20% {
    transform: scale(0);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  }
}
